{% extends 'base.html.twig' %}

{% block title %}Ajouter un contact{% endblock %}

{% block body %}
<div>
    <section class="container">
        <div class="row">
            <h1>Ajouter un contact</h1>
            <div class="mt-3">
                <!-- Utilisez un formulaire pour envoyer les données au serveur -->
                <form class="mb-3" action="{{ path('telecharger_csv') }}" method="post">
                    <!-- Utilisez un bouton de type submit pour envoyer le formulaire -->
                    <button type="submit" class="mb-3">Télécharger fichier CSV</button>
                </form>
            </div>
            {{ form_start(AddContact) }}
            <fieldset class="mb-3">
                <legend class="mb-3">Le nouveau contact</legend>
                <table border="1">
                    <tr>
                        <th>{{ form_row(AddContact.email) }} </th>
                        <th>{{ form_row(AddContact.nom) }} </th>
                        <th>{{ form_row(AddContact.adresse) }} </th>
                        <th>{{ form_row(AddContact.prenom) }} </th>
                    </tr>
                </table>
            </fieldset>
            <form class="mb-3" action="{{ path('contact') }}" method="post" enctype="multipart/form-data">
                <button type="submit" class="mb-3" id="ajouter_contact">Ajouter le contact</button>
            </form>
            {{ form_end(AddContact) }}
        </div>
        <script>
            // Redirection vers la page des contacts lorsque le formulaire est soumis avec succès
            document.addEventListener("DOMContentLoaded", function () {
                document.querySelector('form').addEventListener('submit', function () {
                    // Ici vous pouvez ajouter le code pour rediriger vers la page des contacts après soumission du formulaire
                });
            });
        </script>
        <h3>Vos contacts actuels :</h3>
        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Adresse</th>
            </tr>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.adresse }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>
{% endblock %}
