{% extends 'base.html.twig' %}

{% block title %}Ajouter un contact{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
        <h1>Vos contact : </h1>
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Adresse</th>
        </tr>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.nom }}</td>
            <td>{{ contact.prenom }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.adresse }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="mt-5 text-center">
    
        <button class="m-3" id="updateContact"  type="submit">Modifier un contact</button>

        <button class="m-3" id="addContact"type="submit">Ajouter un contact</button>
    </div>
     <script>
        document.getElementById("updateContact").addEventListener("click", function() {
            // Redirection vers la page de création de contact
            window.location.href = "{{ path('updateContact') }}";
        });
    </script>
    <script>
        document.getElementById("addContact").addEventListener("click", function() {
            // Redirection vers la page de création de contact
            window.location.href = "{{ path('addContact') }}";
        });
    </script>
{% endblock %}
